{% extends 'base.html.twig' %}

{% block title %}Hello FrontendController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-xs-12 text-center">
            <a href="{{ path('login') }}">Login</a> to continue
        </div>
    </div>

{% endblock %}
