{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <div class="col-xs-12 text-center">
            {% trans %}login_to_continue{% endtrans %}
        </div>
    </div>

{% endblock %}
