<div class="container">
    <nav class="nav">
        <a class="nav-link" href="{{ path('frontend') }}">
            <span class="fas fa-home"></span>
        </a>
        <a class="nav-link text-twitch float-end" href="{{ path('login') }}">
            <span class="fab fa-twitch"></span>
        </a>
    </nav>
</div>